-r requirements.txt

pytest==4.3.1
coverage==4.5.3
coveralls==1.6.0
flake8==3.7.7
freezegun==0.3.11
hypothesis==4.11.7
mock==2.0.0
moto==1.3.7
pytest-cov==2.6.1
testfixtures<7.0.0,>=6.0.2

git+https://github.com/alphagov/digitalmarketplace-test-utils.git@1.4.0#egg=digitalmarketplace-test-utils==1.4.0
