boto==2.38.0
contextlib2==0.4.0
Flask>=0.10
six==1.9.0
pyyaml==3.11
python-json-logger==0.1.4
inflection==0.2.1
Flask-FeatureFlags==0.6
mandrill==1.0.57
monotonic==0.3
pytz==2015.4
Flask-WTF==0.12
Flask-Script==2.0.5
workdays==1.4
unicodecsv==0.14.1
cryptography==1.6
git+https://github.com/alphagov/notifications-python-client.git@4.0.0#egg=notifications-python-client==4.0.0
