-r requirements.txt

coverage==4.5.3
coveralls==1.8.0
flake8==3.7.7
freezegun==0.3.12
hypothesis==4.24.0
mock==3.0.5
moto==1.3.8
pytest==4.6.2
pytest-cov==2.7.1
testfixtures<7.0.0,>=6.0.2

git+https://github.com/alphagov/digitalmarketplace-test-utils.git@1.4.0#egg=digitalmarketplace-test-utils==1.4.0
